@charset "UTF-8";

@media screen and (min-width: 768px)
{
    body
    {
        background:black linear-gradient(to top, #49a09d, #5f2c82);
    }

    section#login
    {
        width: clamp(250px, 75vw, 1000px);
        height: 40vh;

    }

    #imagem
    {
        width: clamp(30px, 25vw, 30vw);
        height: 40vh;
        border-radius: 20px 0px 0 20px;
    }

    #formulário
    {
        width: clamp(10%, 66%, 67%);
        margin: auto;
        
    }

    .info input
    {
        width: clamp(5px, 92%, 100%);
    }

    #enviar
    {
        margin-top: clamp(2px, 10px, 10px);
        margin-bottom: clamp(2px, 10px, 10px);
    }

    #formulário, #imagem
    {
        display: inline-block;
        vertical-align: top;
    }

    #imagem
    {
        width: 30%;
    }
    
}    