@charset "UTF-8";

@media screen and (min-width: 768px) /* Tablet */
{
    body
    {
        background:black linear-gradient(to top, #49a09d, #5f2c82);
    }

    section#login
    {
        width: 80vw;
        height: 40vh;
        transition: width 0.2s ease-in-out, height 0.2s ease-in-out;
    }

    #imagem
    {
        height: 40vh;
        border-radius: 20px 0px 0 20px;
        width: 29%;
        background-position: top right;
    }

    #formulário
    {
        width: clamp(10%, 68.5%, 68.5%);
        float: right;
        
    }

    .info input
    {
        width: 93.2%;
    }

    input[type=submit]
    {
        margin-top: clamp(2px, 10px, 10px);
        margin-bottom: clamp(2px, 10px, 10px);
    }

    #formulário, #imagem
    {
        display: inline-block;
        vertical-align: top;
    }
    .info .icone
    {
        display: inline-block;
        font-size: 25px;
        width: 6.7%;
        vertical-align: middle;
        padding-right: 0px;
    }
}

@media screen and (min-width: 1023px) /* Desktop ou maior */
{
    #login
    {
        position: relative;
        transition: width 0.2s ease-in-out, height 0.2s ease-in-out;
        width: 990px !important;
    }

    #imagem
    {
        position: absolute;
        right: 0;
        border-radius: 0px 20px 20px 0px;
        width: 45%;
        background-position: bottom left;
        float: right;
    }

       #formulário
    {
        width: 53%;
        float: left;
    }   

    p
    {
        font-size: 1.2em;
    }

    h1
    {
        font-size: 2em;
    }
}